.header_block {
    height: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_logo_block {
    width: 309px;
    height: 122px;
    background:
        url(source/header_logo_block.png);
}
.line_block {
    height: 13px;
    background:
            url(source/line_block.png) no-repeat center top / cover;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #000000;
}
.menu li {
    margin-left: 60px;
    list-style-image: url(source/marker.png);
    text-decoration: none;
}
.menu li a {
    text-decoration: #000000;
}
.main_banner_block_1 {
    height: 790px;
    background:
            url(source/main_banner_block_1.png) no-repeat center top / cover;
}
.annotation_block {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.annotation_block p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    color: #FF5F40;
}
.dog_menu {
    height: 463px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.dog_block {
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dog_block p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}
.spacer {
    height: 30px;
}
.main_banner_block_2 {
    height: 767px;
    background:
            url(source/main_banner_block_2.png) no-repeat center top / cover;
}
.footer {
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #1C4460;
}
.address_block {
    width: 500px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.address_block p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}
.general_block {
    width: 500px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer_logo_block {
    width: 191px;
    height: 50px;
    background:
            url(source/footer_logo_block.png);
}
.phone_block {
    height: 33px;
}
.phone_block p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}
.phone_block li {
    list-style-image: url(source/phone_pic.png);
}
.mail_block {
    height: 33px;
}
.mail_block p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}
.mail_block li {
    list-style-image: url(source/mail_pic.png);
}
.social_block {
    width: 500px;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.vk_block {
    width: 75px;
    height: 44px;
    background:
            url(source/vk.png);
}
.instagram_block {
    width: 43px;
    height: 44px;
    background:
            url(source/instagram.png);
}